# Caddyfile
.git
.eslint*
.prettier*
.git*
.vscode
Dockerfile*
public
.svelte-kit
build
README.md
node_modules
src-tauri
.env
.env.example
.github
.svelte-kit/**
!.svelte-kit/tsconfig.json
.vscode
build
example
scripts
