.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
$houdini
svelte-jsx.d.ts
!.env.example
src-tauri/icons
src-tauri/target
src/rete/customization/trash
src/lib/editor/rete/customization/trash

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
