.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.log
temp/
tmp/
mikro-orm.config.js
.vscode/work.code-workspace
.vscode/work.code-workspace
.vscode/makutu-gui.code-workspace
