:80

root * /usr/share/caddy

file_server {
    hide .git
}

log {
    output stdout
}

@notStatic {
    not path *.js *.css *.png *.jpg *.svg *.html
}

route {
    header Set-Cookie PUBLIC_BACKEND_ADDRESS={$PUBLIC_BACKEND_ADDRESS:http://127.0.0.1:8000}
    try_files {uri} {uri}.html index.html
    rewrite @notStatic /index.html
    file_server
}
