/* Write your global styles here, in PostCSS syntax */

html,
body {
	@apply h-full overflow-hidden;
}

.python-cursor {
	cursor: url("/cursor/python_cursor.svg"), crosshair;
}

.python-cursor .node {
	cursor: url("/cursor/python_cursor.svg"), crosshair !important;
}